NOA_Dictionary.xlsx
Medisoft Medical Retina Study - OCT Thickness Metrics Data Dictionary.xlsx
Medisoft Medical Retina Study - Extract Hierarchy v1.0.docx
Medisoft Medical Retina Study - Data Dictionary v1.0.xlsx
Medisoft Data Extraction Procedures - Version 0.2, 2020-03-29.pdf
GRIP-family-history-lookup.csv
GRIP-co-pathology-lookup.csv
GRIP-co-pathology-lookup-to-classify.csv
Belfast-diagnosis-lookup.csv
Belfast-diabetes-lookup.csv
Belfast-EMR-table-descriptions.csv
